<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional// "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="description" content="{% current_description %}" />
  <!-- Always force latest IE rendering engine & Chrome Frame -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <link rel="dns-prefetch" href="http://cdn.bootic.net" />

  <title>{% current_title %} - {{ shop.name }}</title>

  {% bootic_header 'v2' %}
  {{ 'master.css' | asset_url | stylesheet_tag }}
</head>

<body id="{{ template }}" class="simplelist-theme">
  {% if customer.is_logged_in %}
    <div class="session">
      Registrado como {{ customer.name }}. Último login: {{ customer.last_logged_on }}.
      <a href="/customer/logout">Cerrar sesión</a>
    </div>
  {% else %}
    <div class="session">
      <a href="/customer/login">Login mayoristas</a>
    </div>
  {% endif %}
  <div id="wrapper">
    <div id="header" class="clearfix">

      {% comment %}
      NOTA: est construye un <SELECT> con todos los links dentro del menú "main".
      Visible para móviles solamente usando la clase CSS "mobile_ony", definida en la hoja de estilos.
      Ver http://wiki.bootic.net/es/themes/menus
      {% endcomment %}

      <select class="mobile_only mobile_menu" data-behaviour="links">
        <option value="/">Navegación</option>
        {% for link in menus.main.links %}
        <option value="{{ link.url }}" {{ "selected='selected'" | if_current_page: link }}>{{ link.title }}</option>
        {% endfor %}
      </select>

      {% comment %}
      NOTA: esto genera links HTML para cada link dentro del menú "main".
      Visible en desktop solamente usando la clase CSS "desktop_only", definida en la hoja de estilos.
      http://wiki.bootic.net/es/themes/menus
      {% endcomment %}

      <nav id="main_nav" class="desktop_only">
      {% for link in menus.main.links %}
        <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
      {% endfor %}
      </nav>

      <!-- Campo de búsqueda -->
      <form action="/search" method="get" id="search_form" class="desktop_only">
        <input type="search" name="q" value="{{ 'titles.search' | t }}:" onfocus="if(this.value=='{{ 'titles.search' | t }}:')this.value='';" onblur="if(this.value=='')this.value='{{ 'titles.search' | t }}:';"/>
      </form>
      <!-- /campo de búsqueda -->

    </div><!-- /header -->

    <div id="box" class="clearfix">
      <div id="main">
        {% comment %}
        NOTA: content_for_layout incluye en el layout el contenido genrado por cada página.
        Ver http://wiki.bootic.net/es/themes/layout
        {% endcomment %}

        <!-- Contenido página actual -->
        {{ content_for_layout }}
        <!-- /contenido página actual -->
      </div>

      {% comment %}
      NOTA: include la sub-plantilla "sidebar.html".
      Ver http://wiki.bootic.net/es/themes/layout#includes
      {% endcomment %}

      <!-- Sidebar -->
      {% include 'sidebar' %}
      <!-- /Sidebar -->
    </div>

    <div id="footer">
      {% comment %}
      NOTA: genera links HTML para cada link en el menú "footer".
      Puedes administrar ese menú en la sección "Navegación" del admin.
      Ver http://wiki.bootic.net/es/themes/menus
      {% endcomment %}
      <!-- links en el footer -->
      {% for link in menus.footer.links %}
      <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
      {% endfor %}
      <!-- /links en el footer -->
    </div>
  </div><!-- /wrapper -->

  <!-- Scripts Bootic. No remover -->
  {% bootic_footer 'v2' %}

  <!-- Librerías externas -->
  {{ 'https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js' | javascript_tag }}
  {{ '/javascripts/libs/jquery.cycle.pack.js' | javascript_tag }}

  <!-- Plantilla para carrito dinámico Ajax -->
  {% include 'cart_template' %}

  <!-- JavaScript principal de esta tienda -->
  {{ 'app.js' | asset_url | async_javascript_tag }}
</body>
</html>
